@import url('https://fonts.googleapis.com');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.SlidingText_body {
  
}
.SlidingText_body h1 {
  font-size: 4em;
  letter-spacing: 5px;
}
.SlidingText_body h1 span {
  position: relative;
  display: inline-block;
  color: #FF3C41;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}

.SlidingText_body h1 span span {
  display: block;
  animation: animateWords 5s infinite ease;
}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

